:root {
  --background-base: #121212;
  --apple-cyan: #0bc9d2;
  --text-blue: #68e0d7;
  --lighter-card: #242323;
  --text-red: #da0218;
  ---ffffff: #ffffff;
  --card-grey: #1e1c1c;
  --light-grey: #bbbbbb;
  --text-green: #4de531;
  --text-grey: #8e8c8c;
  --badge-text-red : #ec4860;
  --badge-text-green : #2bed08;
  --badge-background-red : #582e2e;
  --badge-background-green: #737d55;

  --quick-fact-text-font-size-35: 35px;
  --quick-fact-text-character-spacing-0: 0px;
  --quick-fact-text-line-spacing-41: 41px;
}

/* Character Styles */
.quick-fact-text {
  letter-spacing: var(--quick-fact-text-character-spacing-0);
  color: var(---ffffff);
  text-align: center;
  font-size: var(--quick-fact-text-font-size-35);
  line-height: var(--quick-fact-text-line-spacing-41);
  opacity: 1;
  font-weight: 600;
}
.fit-content {
  width: fit-content;
}
.dropdown {
  border: 2px solid var(--text-grey);
  font-size: 12px;
  line-height: 14px;
  padding: 7px 23px;
  color: var(--text-grey);
  background: var(--background-base);
}

.page-padding {
  padding: 0px 36px;
}

.church-text {
  font-size: var(--quick-fact-text-font-size-35);
  line-height: var(--quick-fact-text-line-spacing-41);
  letter-spacing: var(--quick-fact-text-character-spacing-0);
  color: var(---ffffff);
}

.stat-text {
  font-size: 17px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.leader-text {
  font-size: 14px;
  line-height: 16px;
}

.branch-text {
  font-size: 12px;
  color: var(--light-grey);
}

.facts-number {
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
}

.quick-fact-page {
  height: calc(100vh - 54px);
  overflow: hidden;
}

.quick-fact-card-wrapper {
  height: calc(100vh - 171px);
  padding-bottom: 20px;
}

.badge-percentage-red {
  font-size: 15px;
  font-weight: normal;
  color: var(--badge-text-red);
  padding: 7px 17px;
  border-radius: 0;
  margin-bottom: 15px;
}

.badge-percentage-green {
  font-size: 15px;
  font-weight: normal;
  color: var(--badge-text-green);
  padding: 7px 17px;
  border-radius: 0;
  margin-bottom: 15px;
}

.badge-percentage-red.bg-danger {
  background-color: var(--badge-background-red) !important;
}

.badge-percentage-green.bg-success {
  background-color: var(--badge-background-green) !important;
}

.average-text {
  font-size: 17px;
  line-height: 24px;
}

.higher-church-text {
  color: var(--text-grey);
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 43px;
}

.separator {
  border: 1px solid var(---ffffff);
}

.quick-fact-card {
  background-color: var(--lighter-card);
  padding: 13px 22px;
}

.card-grey {
  background-color: var(--card-grey);
  margin-top: 20px;
}
