.modal-content.dark {
  background-color: #1e1c1c;
  color: var(--text-primary);
}

.btn-close {
  color: var(--text-primary);
}

.center-spinner {
  min-height: 15vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
