.vertically-center {
  height: 80vh;
}

.big-spinner {
  width: 6rem;
  height: 6rem;
}

.force-left {
  text-align: left !important;
}

.modal-content {
  background-color: #252525;
  color: whitesmoke;
}
