.controls {
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color: var(--text-primary);
}

.map-container {
  width: 100%;
  height: 100%;
}

.map {
  margin-top: -40px;
  height: 100vh;
}

.dark-loading {
  background: #14161a;
}

.offcanvas {
  height: 80vh !important;
}
.container {
  --bs-gutter-x: 0px;
  --bs-gutter-y: 0px;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.floating-action {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.rounded-circle {
  height: 42px;
  width: 42px;
}
