/*--Global colors*/
.page-container {
  padding-top: 20px;
  padding-bottom: 60px;
}

.small {
  font-size: 11px;
}
.nav-opacity {
  opacity: 0.7;
}

.bg {
  padding-top: 20px;
  padding-bottom: 80px;
  overflow-x: hidden;
}
.bg.dark {
  color: var(--text-primary);
  background-color: var(--body-bg);
}
.bg.light {
  color: var(--text-primary);
  background-color: var(--body-bg);
}

.border {
  border: 1px solid var(--border);
}

.icon-color {
  color: var(--icon-color);
}

.text-box {
  background-color: var(--text-box-inner);
}

.spinner-border-center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

/* Component Styling */

/* .card {
  background-color: var(--card);
  border: 1px solid var(--border);
} */

.member-info-card {
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 7px;
}

.card-button-row {
  padding-left: 0px;
  overflow-x: auto;
}

.card-title {
  font-weight: bold;
}

.profile-img-height {
  height: 150px;
}
.profile-img {
  width: 150px;
  border-radius: 100px;
  height: 150px;
}
.profile-img.placeholder-wave {
  height: 150px;
}

.img-search {
  width: 70px;
  border: 3px solid var(--infobar-color);
}

.img-search-placeholder {
  border-radius: 100px;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.form-control {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
  height: 50px;
}

.form-control:disabled {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: none;
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
  height: 70px;
  font-size: 25px;
}

.form-control:focus {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: 1px solid var(--border);
  border-radius: 7px;
  box-shadow: 0 0 7px var(--accent-color);
  margin: 5px 5px 5px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #e7e7b9 inset;
  -webkit-text-fill-color: var(--full-black);
  box-shadow: 0 0 0 30px #e7e7b9 inset;
}

select {
  -webkit-appearance: none;
  appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.login-page-lg {
  background-color: #212121;
  width: 500px;
  border: 1px solid var(--border);
  border-radius: 7px;
}

.hr-line {
  color: white;
  background-color: var(--icon-color);
}

.placeholder {
  border-radius: 5px;
}

.page-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.page-header.left {
  text-align: left;
}

.just-text-btn {
  color: var(--churches-accent);
  text-decoration: none;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.btn-main.dark {
  background-color: var(--btn-submit);
  width: 100%;
}
.btn-secondary.dark {
  background-color: var(--card);
  width: 100%;
}
.placeholder-display {
  font-size: 13px;
}

.accordion-button {
  border-radius: 0px;
}

.dark .accordion-button {
  background-color: var(--body-bg);
  color: var(--text-primary);
}

.light .accordion-button {
  color: var(--text-primary);
}

.accordion-button[aria-expanded='true'] {
  color: rgb(148, 139, 139);
}

.dark .accordion-item {
  border-color: var(--body-bg);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-item {
  color: var(--text-primary);
}

.text-muted.d-block .text-danger {
  padding: 0;
}

.img-trends {
  width: 100px;
  border: 3px solid var(--infobar-color);
}

.img-swollen-sunday {
  width: 70px;
  border: 3px solid var(--infobar-color);
}

.card-width.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.open > .dropdown-toggle.btn-dark {
  color: var(--text-primary);
  background-color: #2a2d31;
  border-color: none;
}
