.progress-bar-red {
  background: -webkit-linear-gradient(left, #800a0acc, #f50000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
  /* Chrome10-25,Safari5.1-6 */
}

.progress-bar-yellow {
  background: -webkit-linear-gradient(left, #80780acc, #ddf500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
  /* Chrome10-25,Safari5.1-6 */
}

.progress-bar-green {
  background: -webkit-linear-gradient(left, #0a8035cc, #00f510);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
  /* Chrome10-25,Safari5.1-6 */
}

.progress {
  height: 13px;
  position: relative;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  overflow: hidden;
  color: #fff;
  right: 0;
  left: 0;
}

.text {
  font-size: 16px;
  letter-spacing: 1px;
}

.lowercase-text {
  font-size: 14px;
}

.button {
  text-align: left;
  padding-left: 15px;
}

.menu-padding {
  padding: 19px 58px;
}

.defaulters-number {
  font-size: 50px;
}
