:root {
  --current-balance-bg: #3d4ea8;
}

.current-balance {
  background-color: var(--current-balance-bg);
}

.bussing-society {
  background-color: #255f6b;
}
.badge {
  color: var(--chakra-colors-gray-800);
}
