.nav-toggler {
  border: none;
}

.bg-dark {
  background: #000;
  color: var(--text-primary);
  background-color: rgba(26, 24, 24, 0.65) !important
}

.offcanvas-body.dark {
  background-color: var(--card) !important;
  color: var(--text-primary) !important;
}
.offcanvas-header.dark {
  background-color: var(--card) !important;
  color: var(--text-primary) !important;
}

.nav-btn {
  padding: 18px 0px;
  margin: 5px 0px;
  text-align: center;
}
.dark .nav-btn {
  background-color: #302f2f;
}

.light .nav-btn {
  background-color: #e6dfdfe0;
}

.footer.dark {
  background-color: #101010;
}

.footer.dark {
  padding: 10px;
}

.light .footer {
  padding: 10px;
  background-color: #e6dfdfe0;
}

.offcanvas-header.dark .btn-close {
  -webkit-filter: invert(1);
  filter: invert(1);
}
