.offcanvas-body.dark {
  background-color: var(--card) !important;
  color: var(--text-primary) !important;
}
.offcanvas-header.dark {
  background-color: var(--card) !important;
  color: var(--text-primary) !important;
}

.nav-btn {
  padding: 17px 0px;
  text-align: center;
}
.nav-link:active {
    background-color: none;
    text-decoration: none;
    user-select: none;
  }


.footer.dark {
  background-color: #101010;
}

.footer.dark {
  padding: 10px;
}

.light .footer {
  padding: 10px;
  background-color: #e6dfdfe0;
}

.offcanvas-header.dark .btn-close {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.btn-transparent-outline{
  background-color: transparent;
  color: white;
}
