:root {
  --primary-color: #4de531;
  --text-small: 11px;
  --text-name: 23px;
  --text-number: 25pt;
}

.card-border {
  border-radius: 1em;
}

.text-small {
  font-size: var(--text-small);
}

.number {
  font-size: var(--text-number);
  color: var(--primary-color);
}

.summary-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

