.nav-search-box {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--bs-border-color) !important;
  margin: 0;
}

.dark .nav-search-box {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
}

.light .nav-search-box {
  background-color: var(--text-focus-white);
  color: var(--text-focus-white);
}

.nav-search-box:focus {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--bs-border-color) !important;
  margin: 0;
  box-shadow: 0 0 7px var(--accent-color);
}

.light .nav-search-box:focus {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--bs-border-color) !important;
  margin: 0;
  border-radius: 7px;
  box-shadow: 0 0 7px var(--accent-color);
}

.nav-search-btn {
  margin: 0px;
  border-radius: 0px 7px 7px 0px;
  border: 1px solid var(--border);
  height: 60px;
}
