.quick-fact-text {
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  line-height: 41px;
  opacity: 1;
  font-weight: 600;
}

.fit-content {
  width: fit-content;
}

.dropdown-quick-facts {
  border: 2px solid #8e8c8c;
  font-size: 12px;
  line-height: 14px;
  padding: 7px 23px;
  color: #8e8c8c;
  background: #121212;
}

.page-padding {
  padding: 0px 36px;
}

.church-text {
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0px;
  color: #ffffff;
}

.stat-text {
  font-size: 17px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.leader-text {
  font-size: 14px;
  line-height: 16px;
}

.branch-text {
  font-size: 12px;
  color: #bbbbbb;
}

.facts-number {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  color: #4bacf6;
}

.quick-fact-page {
  height: calc(100vh - 54px);
  overflow: hidden;
}

.quick-fact-card-wrapper {
  height: calc(100vh - 171px);
  padding-bottom: 20px;
}

.badge-percentage-red {
  font-size: 15px;
  font-weight: normal;
  color: #ec4860;
  padding: 7px 17px;
  border-radius: 0;
  margin-bottom: 15px;
  background-color: #582e2e;
}

.badge-percentage-green {
  font-size: 15px;
  font-weight: normal;
  color: #2bed08;
  padding: 7px 17px;
  border-radius: 0;
  margin-bottom: 15px;
  background-color: #737d55;
}

.average-text {
  font-size: 17px;
  line-height: 24px;
}

.higher-church-text {
  color: #8e8c8c;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 43px;
}

.separator {
  border: 1px solid #ffffff;
}

.quick-fact-card {
  background-color: var(--bs-card-bg);
  padding: 13px 22px;
}
.quick-facts-shadow {
  box-shadow: 0px 0px 20px rgba(123, 123, 123, 0.591);
}

.card-grey {
  background-color: #1e1c1c;
  margin-top: 20px;
}

.income-number {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  color: #efaa66;
}

.bussing-number {
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #68e0d7;
}

.currency {
  font-size: 12px;
  color: #efaa66;
}

.card-width {
  width: 140px;
}
