.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.rounded-circle.menu {
  padding: 5px;
  margin: 0px;
  /* height: 50px; */
  width: 54px;
}
.rounded-circle.gradient-bg {
  background-image: linear-gradient(#161f04, #242d0e);
}

.rounded-circle .square-img {
  height: 25px;
  width: 25px;
}

.churches.dark {
  color: var(--churches-accent);
  fill: var(--churches-accent);
}

.arrivals.dark {
  color: var(--arrivals-accent);
  fill: var(--arrivals-accent);
}

.defaulters.dark {
  color: var(--defaulters-accent);
  fill: var(--defaulters-accent);
}
.campaigns.dark {
  color: var(--campaigns-accent);
  fill: var(--campaigns-accent);
}
.members.dark {
  color: var(--members-accent);
  fill: var(--members-accent);
}

.banking.dark {
  color: var(--banking-accent);
  fill: var(--banking-accent);
}

.quick-facts.dark {
  color: var(--quickfacts-accent);
  fill: var(--quickfacts-accent);
}

.danger.dark {
  color: var(--bad);
}
.menu-buttons {
  min-height: 74px;
  text-align: left;
  padding-left: 20px;
}
.menu-buttons.dark {
  background-color: #1e1c1c;
}

.menu-buttons.center {
  text-align: center;
}

.menu-caption {
  font-size: 10px;
  display: block;
}
.icon-caption {
  font-size: 10px;
  display: block;
  color: var(--text-primary);
}
.menu-subheading {
  font-size: 20px;
}

.menu-subheading.dark {
  color: var(--churches-accent);
}

.btn-left-col {
  width: 78px;
  text-align: center;
}

.btn-right-col {
  text-align: left;
  padding: 0px;
}

.rounded-circle {
  padding: 5px;
  margin: 0px;
}
.rounded-circle.gradient-bg {
  background-image: linear-gradient(#161f04, #242d0e);
}
