.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.rounded-circle.menu {
  padding: 5px;
  margin: 0px;
  /* height: 50px; */
  width: 54px;
}

.rounded-circle .square-img {
  height: 25px;
  width: 25px;
}

.menu-buttons,
.menu-buttons:hover,
.menu-buttons:focus,
.menu-buttons:active {
  min-height: 74px;
  text-align: left;
  padding-left: 20px;
  border-color: var(--bg-card);
  margin-top: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.churches {
  color: var(--churches-accent) !important;
  fill: var(--churches-accent) !important;
}

.arrivals {
  color: var(--arrivals-accent) !important;
  fill: var(--arrivals-accent) !important;
}

.defaulters {
  color: var(--defaulters-accent) !important;
  fill: var(--defaulters-accent) !important;
}
.campaigns {
  color: var(--campaigns-accent) !important;
  fill: var(--campaigns-accent) !important;
}
.members {
  color: var(--members-accent) !important;
  fill: var(--members-accent) !important;
}

.banking {
  color: var(--banking-accent) !important;
  fill: var(--banking-accent) !important;
}

.equipment {
  color: var(--equipment) !important;
  fill: var(--equipment) !important;
}

.equipment {
  color: var(--equipment) !important;
  fill: var(--equipment) !important;
}

.antibrutish {
  color: var(--antibrutish) !important;
  fill: var(--antibrutish) !important;
}

.multiplication {
  color: var(--multiplication) !important;
  fill: var(--multiplication) !important;
}

.swollensunday {
  color: var(--swollensunday) !important;
  fill: var(--swollensunday) !important;
}

.shepherdingcontrol {
  color: var(--shepherdingcontrol) !important;
  fill: var(--shepherdingcontrol) !important;
}

.sheepseeking {
  color: var(--sheepseeking) !important;
  fill: var(--sheepseeking) !important;
}

.quick-facts {
  color: var(--quickfacts-accent) !important;
  fill: var(--quickfacts-accent) !important;
}

.maps {
  color: var(--maps-accent) !important;
  fill: var(--maps-accent) !important;
}

.danger {
  color: var(--bad) !important;
}

.menu-buttons.center {
  text-align: center;
}

.menu-caption {
  font-size: 10px;
  display: block;
}
.icon-caption {
  font-size: 10px;
  display: block;
  color: var(--text-primary);
}
.menu-subheading {
  font-size: 20px;
}

.menu-subheading.dark {
  color: var(--churches-accent);
}

.btn-left-col {
  width: 78px;
  text-align: center;
}

.btn-right-col {
  text-align: left;
  padding: 0px;
}

.rounded-circle {
  margin: 0px;
}
.gradient-bg {
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--bs-body-bg);
}
