.logo {
  max-width: 50;
}

.bg-wrapper {
  overflow: hidden;
  position: relative;
}

.bg-image {
  opacity: 0.12;
  position: absolute;
  left: -50%;
  top: 0;
  width: 1000px;
  height: auto;
}

.bg-content {
  position: relative;
}

.font-primary {
  color: #f5f5f5;
}

.login {
  background-color: #690c13;
}

.desktop-card {
  width: 40%;
}

.login-page .slick-track {
   height: 200px;
}

.slick-dots li button::before {
  font-size: 16px;
  color: #fff !important;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  color: red !important;
  opacity: 1;
}