.logo {
  max-width: 50$;
}

.bg-wrapper {
  overflow: hidden;
  position: relative;
}

.bg-image {
  opacity: 0.12;
  position: absolute;
  left: -50%;
  top: 0;
  width: 1000px;
  height: auto;
}

.bg-content {
  position: relative;
}

.desktop-card {
  width: 40%;
}

.slick-track {
  height: 200px;
}
