.detail-card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.bg-card {
  background-color: var(--card);
  padding: 10px;
  border-radius: 10px;
}

.card-detail {
  margin-bottom: 0px;
  font-size: 20px;
}

.rounded-btn {
  border-radius: 50px;
}

.badge-vacation {
  font-size: 12px;
  font-size: 9px;
  font-weight: normal;
  color: #ec4860;
}

.badge-vacation.bg-danger {
  background-color: #582e2e !important;
}

.font-danger {
  color: var(--text-primary);
}

.space {
  height: 23px;
}

:root {
  --creativearts-border-color: var(--chakra-colors-orange-300);
  --creativearts-border-width: 2px;
}

[data-bs-theme='dark'] .creativearts,
[data-bs-theme='light'] .creativearts {
  border-color: var(--creativearts-border-color);
  border-width: var(--creativearts-border-width);
}
