.detail-card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.bg-card {
  background-color: var(--card);
  padding: 10px;
  border-radius: 10px;
}

.card-heading {
  font-size: 14px;
}

.card-detail {
  margin-bottom: 0px;
  font-size: 22px;
}

.badge-vacation {
  font-size: 12px;
  font-size: 9px;
  font-weight: normal;
  color: #ec4860;
}

.badge-vacation.bg-danger {
  background-color: #582e2e !important;
}

.space {
  height: 23px;
}
