.label {
  padding-right: 10px;
  text-decoration: none;
  color: var(--icon);
}

.btn.image {
  height: 41px;
  font-size: 16px;
}

.img-container {
  height: 350px;
  width: 350px;
}

.img-preview {
  padding: 15px;
  max-width: 350px;
  max-height: 350px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.textarea {
  height: auto;
}
.invalid {
  opacity: 0.65;
}

.multiimage-preview {
  padding: 5px;
  height: 20vh;
  margin-bottom: 10px;
}
