.marker {
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 4px #000;
  color: whitesmoke;
  text-align: center;
}

/* .gm-style-iw-a * {
  background-color: black;
  color: white;
} */

[data-bs-theme='dark'] .card {
  --bs-card-color: var(--chakra-colors-white);
  --bs-card-bg: var(--chakra-colors-gray-800);
  --bs-card-border-color: var(--chakra-colors-whiteAlpha-50);
}

.map {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.page-container {
  margin-left: 0px;
  margin-right: 0px;
}

.info-window-header {
  font-size: 16px;
  font-weight: bold;
}

.info-window-text {
  font-size: 12px;
}

.map-btn {
  width: 180px;
  text-align: left;
}

.lightblue {
  color: #181e77 !important;
}

.indoor-venue-label {
  color: #a1f6fc !important;
}
.outdoor-venue-label {
  color: #a3fca1 !important;
}
.fellowship-label {
  color: #fca1a1 !important;
}
.high-school-label {
  color: #fca1f1 !important;
}

.selected {
  color: #f6ff00 !important;
}
