.marker {
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 4px #000;
  text-align: center;
}

.university-venue-label {
  color: #a1f6fc !important;
}

.selected {
  color: #f6ff00 !important;
}
