.arrivals-end .modal-content {
  background-color: #7d1f1a;
  color: whitesmoke;
}
.dark .modal-content {
  background-color: #252525;
  color: whitesmoke;
}

.code-of-the-day {
  color: #d5ee6f;
}

.countdown {
  color: #81ee6f;
  font-weight: bold;
}

.countdown.danger {
  color: #f94040;
}

.text-secondary-custom {
  color: #9f9f9f;
}

.button-icons {
  margin-right: 10px;
}

.low-opacity {
  opacity: 0.2;
}

.large-number {
  font-size: 30px;
}

.report-picture {
  height: 260px;
  margin: 10px;
}

.col-height {
  height: 280px;
}
