.detail-top-margin {
  margin-top: 5%;
}

.detail-bottom-margin {
  margin-bottom: 5%;
}

.title-bar {
  border-bottom: 1px solid var(--border);
}

.filled {
  color: var(--good);
}
.not-filled {
  color: var(--bad);
}

.btn-graphs {
  height: 46px;
}
